@media print {
    @page {
        size: 80mm auto;
    }

    /* body {
        writing-mode: tb-rl;
    } */

    .slipComponent{
    page-break-inside: avoid;
    break-inside: avoid;
}
    .operationClass {
        display: none !important;
    }

    .badge-parent {
        width: 1255.17mm;
        height: 52.75mm;
        padding: 120px 0px !important;
    }

    h5,
    h6 {
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        width: 290px;
    }

}

/* @page {
    size: 266mm 165mm;
} */

.badge-parent {
    height: 52.75mm;
    padding: 120px 0px !important;
}

h5,
h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 290px;
    color:black;
}

